@CHARSET "UTF-8";
/*
 * default stylesheet for frontend
*/

.clearfix {
  clear: both;
}

table.jury {
	table-layout: auto;	
}
acronym[title] {
    text-decoration: none; 
    border-bottom: 2px dotted grey;
    cursor: help;
}
div.ld_field {
	float:left; 
	clear: left;
	display:block;
	min-width:70%; 
}
span.content_field { 
    float:left;
    display: inline-block;
	margin: 0px 0px 2px 0px;
}

@media screen and (min-width: 769px) {
	span.content_field {
		width: calc(100% - 120px);
	}
}

@media screen and (max-width: 768px) {
	span.content_field {
		width: 100%;
	}
}


span.label_field {
    display: inline-block;
    float:left;
    display: block;
    vertical-align: top;
    margin: 2px 8px 2px 0px;
    padding-left: 3px;
    width: 105px;
    white-space: unset;
    word-wrap: break-word;
    background-color: #eee;
    color: #666;
    font-size: 75%;
    font-weight: bold;
    line-height: 1.6;
    vertical-align: baseline;
    border-radius: .35em;
}


img.ld_photo {
  float: right;
  margin-left: 15px;
  max-width: 100px;
  height: auto;
}